<p id="notice"><%= notice %></p>

<h1>Operation Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Operation category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_categories.each do |operation_category| %>
      <tr>
        <td><%= operation_category.name %></td>
        <td><%= operation_category.operation_category_id %></td>
        <td><%= link_to 'Show', operation_category %></td>
        <td><%= link_to 'Edit', edit_operation_category_path(operation_category) %></td>
        <td><%= link_to 'Destroy', operation_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation Category', new_operation_category_path %>
