<p id="notice"><%= notice %></p>

<h1>Operations</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Operation category</th>
      <th>Name</th>
      <th>Original name</th>
      <th>Amount</th>
      <th>Operation date</th>
      <th>Value date</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.account_id %></td>
        <td><%= operation.operation_category_id %></td>
        <td><%= operation.name %></td>
        <td><%= operation.original_name %></td>
        <td><%= operation.amount %></td>
        <td><%= operation.operation_date %></td>
        <td><%= operation.value_date %></td>
        <td><%= operation.comment %></td>
        <td><%= link_to 'Show', operation %></td>
        <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
        <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_operation_path %>
